{% if site.data.navigation %}

<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/destellosdeluniverso">
      <img src="/destellosdeluniverso/docs/images/logo.png" alt="Logo" style="width:60px; max-height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i style="color:#fff;" class="fa fas fa-bars fa-1x"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {%- for link in site.data.navigation -%}
        {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
        {%- else -%}
            {%- assign url = link.url | relative_url -%}
        {%- endif -%}
        <li class="nav-item"><a class="nav-link" href="{{ url }}">{{ link.title }}</a></li>
        {%- endfor -%}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Aplicación
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" target="_blank" href="https://www.zooniverse.org/projects/cslab-upm/flashes-of-the-universe">Clasificar imágenes (beta)</a>
            <!--<a class="dropdown-item disabled " href="#">Para niños</a>
            <a class="dropdown-item disabled " href="#">Para invidentes<>/a-->
          </div>
        </li>
      </ul>
    </div>
  </nav>

{% endif %}
