<div class="container">
<!--    <!--chatbot widget -->
<!--    <div class="widget">
<!--        <div class="chat_header">
<!--
<!--            <!--Add the name of the bot here -->
<!--            <span class="chat_header_title">Chatbot</span>
<!--            <span class="dropdown-trigger" href='#' data-target='dropdown1'>
    <!--            <i class="material-icons">
<!--                more_vert
<!--                </i>
<!--            </span>
<!--
<!--            <!-- Dropdown menu-->
<!--            <ul id='dropdown1' class='dropdown-content'>
<!--                <li><a href="#" id="clear">Clear</a></li>
<!--                <li><a href="#" id="restart">Reiniciar</a></li>
<!--                <li><a href="#" id="close">Cerrar</a></li>
<!--            </ul>
<!--        </div>
<!--
<!--        <!--Chatbot contents goes here -->
<!--        <div class="chats" id="chats">
<!--            <div class="clearfix"></div>

<!--        </div>

<!--        <!--keypad for user to type the message -->
<!--        <div class="keypad">
<!--            <textarea id="userInput" placeholder="Escriba su mensaje..." class="usrInput"></textarea>
<!--            <div id="sendButton"><i class="fa fa-paper-plane" aria-hidden="false"></i></div>
<!--        </div>
<!--    </div>

<!--    <!--bot profile-->
<!--    <div class="profile_div" id="profile_div">
<!--        <img class="imgProfile" src="/destellosdeluniverso/docs/images/robot.png" />
<!--    </div>

    <!-- Bot pop-up intro -->
<!--    <div class="tap-target" data-target="profile_div">
<!--        <div class="tap-target-content">
<!--            <h5 class="white-text">¡Hola! 👋</h5>
<!--            <p class="white-text">¡Ayúdanos a clasificar meteoros!</p>
<!--        </div>
<!--    </div>

</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/destellosdeluniverso/assets/js/materialize.min.js"></script>

<!--Main Script -->
<script type="text/javascript" src="/destellosdeluniverso/assets/js/script.js"></script>

<!--Chart.js Script -->
<script type="text/javascript" src="/destellosdeluniverso/assets/js/chart.min.js"></script>
