body {
    background: #21283d; /*background: #172232; /*background: #242943;*/
    margin: 0;
}
html {
    scroll-behavior:smooth;
}
nav {
    position: fixed;
    z-index: 9999;
    width: 100vw;
}
.navbar {
    position: fixed;
    top: 0;
    width: 102%;
    box-shadow:  3px 15px 20px #1a97d9; /*#6464644d;*/
    background-color: #21283d; /* #172232;/* #242943; */
    padding: 0 5px 0 5px;
}
.navbar a {
    color: #fff;
}
.dropdown-menu {
    background-color: #21283d; /*#172232db; /*#242943a6 ;*/
    border-radius: 0;
    opacity: 1;
}
.inner {
    display: block;
    padding: 6em 0 6em 0;
    margin: 0 3em 0 3em;
    width: calc(100% - 3em);
    text-align: center;
}
.social-icon {
    background-color: #fff;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
    height: 2em; /*1em;*/
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 2em; /*1em;*/
}
.social-icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
.fa {
    font-size: 1.5em !important;
}
footer {
    border-top: solid 1px rgba(212,212,255,0.1);
}
.logo {
    background-color: #fff;
    height: 10vh;
    max-width: 100%;
}
.logos {
    height: fit-content;
    margin: 20px 0 20px 0;
    width: calc(100% - 3em);
}
.financing {
    font-family: 'Roboto', sans-serif;
    color: rgba(244,244,255,0.2);
    font-size:medium;
}
.financing a {
    color: #6fc3df;
}
::selection {
    background: #6fc3df;
  }

a:hover {
    text-decoration: none;
    color:#6fc3df;
}
.navbar-toggler {
    border: solid 1px #fff;
}
