---
layout: default
---
<section id="banner-title">
    <h1>Contacta</h1>
</section>


<!-- About us -->
<section id="about-us">
    <h1>{{ site.data.contact.about }}</h1>
    <p>{{ site.data.contact.excerpt }}</p>
</section>

<section id="contact-info">
    <h1>{{ site.data.contact.contact }}</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4WMGj5WlrwpT5xNU2tyCflKi6nACjbjrdzQfkqUiUZOvmGQ/viewform?usp=sharing" class="contact-form"  frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</section>
