---
layout: default
---
<section id="banner-title">
    <h1>Contacta</h1>
</section>


<!-- About us -->
<section id="about-us">
    <h1>{{ site.data.contact.about }}</h1>
    <p>{{ site.data.contact.excerpt }}</p>
</section>

<section id="contact-info">
    <h1>{{ site.data.contact.contact }}</h1>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScUx44h-Fa8ixNDWfpMt8dmg8Y9kUBqcW30hfSv1Buk4H1TfQ/viewform?usp=header" class="contact-form"  frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
</section>
