---
layout: default
---
<section id="banner-title">
    <h1>Do It Yourself</h1>
</section>

<section id="diy-image">
    <img src="{{ page.image.path }}">
</section>

<section id="diy-content">
    <span >
        {%- assign date_format = site.date_format | default: "%Y, %-d %B" -%}
        <p class="post-info">{{ page.date | date: date_format }}</p>
    </span>
    <h1>{{ page.title }}</h1>
    {{ content }}
</section>

<section id="go-top">
    <a href="#banner-title" class="fa fas fa-chevron-up up-btn"></a>
</section>
